@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('./nprogress.css');
@import url('./responsive-table.css');
@import url('./fourofourpage.css');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #fbfcfe;
  scroll-behavior: smooth;
  min-height: 100vh;
}

:root {
  --primary-color: #3861fb;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-spacing: 0px;
}

main {
  padding: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--primary-color);
}


.red {
  color: #ea3943;
}

.green {
  color: #16c784;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

header .mobileNav {
  display: none;
  visibility: hidden;
  z-index: -100;
}

.hide {
  display: none;
  visibility: hidden;
  z-index: -100;
}

@media (max-width: 793px) {
  header .mobileNav {
    display: flex;
    visibility: visible;
    flex-direction: column;
    z-index: 1;
  }
  header .mobileNav button {
    position: fixed;
    top: 0px;
    right: 10px;

  }

  .shown {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .shown a {
    margin-bottom: 2rem;
  }

    header .normalNav {
      display: none;
      visibility: hidden;
      z-index: -100;
  }
    header form .filterInputHeader {
      font-size: 3rem;
    }




    .menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
      z-index: 10000000000;
    }
    .line {
      fill: none;
      stroke: black;
      stroke-width: 6;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 6;
    }
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 6;
    }
    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 6;
    }
    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 6;
    }
    

}

header .normalNav {
    display: flex;
    align-items: center;
}
header .normalNav a{
  margin-right: 1rem;
}

header .filterForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}
header .filterForm svg{
  transform: translateX(-25px);
}

header .filterForm .filterInputHeader {
  font-size: 1rem;
  background-color: rgb(239, 242, 245);
  color: rgb(166, 176, 195);
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  width: 180px;
  padding: 5px 10px;
}

header .filterForm .filterInputHeader:focus {
  outline: none;
}

.logo {
  font-size: 1.2rem;
  margin-left: 2rem;
  cursor: pointer;
  color: var(--primary-color);

}


.fas.fa-star {
  color: var(--primary-color);
}

a:hover {
  border-bottom: 2px solid black;
}


.coinlink {
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.coinlink h5 {
  margin: 4px;
}

.coinlink h5:hover {
  border-bottom: 2px solid black;
}

.pagesCount a.active {
  border-bottom: 2px solid black;
  color: var(--primary-color);
}


i {
  cursor: pointer;
}

.sortBtn {
  background: transparent;
  border: 0;
}

.sortBtn:focus {
  outline: none;
}

.pagesCount {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pagesCount a {
  margin: 0 5px;
}


.loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 160px;
}
.lds-ripple div {
  position: absolute;
  border: 5px solid black;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}